<html lang='uk'>
  <head>
    <meta charset='UTF-8' />
    <title>Довіреність</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body {
        background-color: #f0f0f0;
        color: #000;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .page {
        background: white;
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: bold;
      }

      .section {
        margin-bottom: 20px;
        text-align: justify;
      }

      .signature-section {
        margin-top: 40px;
      }

      @media (max-width: 768px) {
        body {
          background-color: white;
        }
        .page {
          width: 100%;
          min-height: auto;
          margin: 0;
          padding: 20px;
          border: none;
          box-shadow: none;
        }
      }
    </style>
  </head>
  <body>
    <div class='page'>
      <h1>ДОВІРЕНІСТЬ</h1>

      <div class='section' style='text-align: left;'>
        Місто
        {{city}},
        {{date}}.
      </div>

      <div class='section'>
        Я, громадянин(ка) України
        <strong>{{fullName}}</strong>,
        {{birthDate}}
        народження, реєстраційний номер облікової картки платника податків
        {{taxId}}, місце проживання зареєстроване за адресою:
        {{address}}, паспорт
        {{passportNumber}}, виданий
        {{passportIssueAuthority}}
        {{passportIssueDate}}
        , усвідомлюючи значення своїх дій та згідно з вільним волевиявленням, яке повністю відповідає моїй
        внутрішній волі, цією довіреністю уповноважую
        <strong>{{representativeName}}</strong>,
        {{representativeBirthDate}}
        року народження, місце проживання зареєстроване за адресою:
        {{representativeAddress}},
      </div>

      <div class='section'>
        ПРЕДСТАВЛЯТИ МОЇ ІНТЕРЕСИ у будь-яких підприємствах, установах та організаціях, незалежно від їх
        підпорядкування, форм власності та галузевої належності, органах виконавчої влади та місцевого самоврядування, в
        органах державної виконавчої служби, міністерствах, відомствах, їх структурних підрозділах, державних комітетах
        та підвідомчих їм органах; у посольствах та консульствах іноземних держав в Україні; нотаріальних конторах
        (приватних або державних), в органах юстиції, у тому числі - в управліннях юстиції будь-якого рівня, органах
        державної реєстрації речових прав на нерухоме майно, перед державними реєстраторами відділів державної
        реєстрації юридичних осіб, фізичних осіб-підприємців та громадських формувань, Департаменті надання
        адміністративних послуг, в органах реєстрації актів цивільного стану тощо; в будь-яких банківських установах
        України; в митних органах, в будь-яких органах міграційної служби, в органах паспортно-візової служби України; в
        органах прокуратури, в органах внутрішніх справ, Національної поліції України, Головному та територіальних
        управліннях Національної поліції України та його відокремлених підрозділах, органах патрульної поліції,
        Територіальних центрах комплектування та соціальної підтримки, в інших правоохоронних органах України; у всіх
        відділах та управліннях Держземагентства України, філіях Центру державного земельного кадастру України,
        Державного кадастрового реєстратора відповідного територіального підрозділу Держгеокадастру; оціночних,
        експертних організаціях, адресних бюро, в органах БТІ, в органах містобудування та архітектури; в Державних
        податкових органах, в територіальних та структурних підрозділах Державної фіскальної служби України, установах
        Пенсійного фонду України, Державної служби України з питань захисту персональних даних, органах статистики,
        фонді зайнятості, фонді соціального страхування; в усіх судових установах будь-якої ланки, в тому числі
        апеляційних, касаційних судах тощо; у медичних закладах; у житлово-комунальних органах, службах: газо-,
        електро-, водопостачання, теплопостачання тощо; в органах зв'язку (почтових відділеннях, телефонних компаніях
        тощо) та їх відділеннях, перед будь-якими фізичними та/або юридичними особами з питань оформлення та отримання
        будь-яких довідок та документів на моє ім’я.
      </div>

      <div class='section'>
        Для чого надаю представнику право узгоджувати всі питання, що виникатимуть в процесі виконання наданих цією
        довіреністю повноважень, вести переговори, подавати від мого імені будь-які заяви, отримувати будь-які довідки
        та документи, розписуватись за мене при отриманні документів, проводити необхідні розрахунки за мене та
        виконувати всі необхідні дії та формальності в межах та обсязі передбачених чинним законодавством для такого
        роду уповноважень.
      </div>

      <div class='section'>
        Довіреність видана строком на
        <strong>ТРИ РОКИ</strong>
        та дійсна до
        {{validUntil}}.
      </div>

      <div class='section'>
        Довіреність мною прочитана, її зміст мені зрозумілий і відповідає моїй волі. Підписана мною особисто.
      </div>

      <div class='signature-section'>
        ПІДПИС _________________________________________________________________
      </div>

    </div>
  </body>
</html>